<div class="content-padded">
    <h3>{{APP NAME}} <small>(ver. <%=version%>)</small></h3>
    <h5>Support:</h5>
    <p>For all questions and support enquiries please contact the Network Rail IT Helpdesk by calling:<br />
    <strong>Internal</strong>: 085 51600<br />
    <strong>External</strong>: <a href="tel:01270721600">01270 721600</a>, and select option 3 to be put through to the O2 Helpdesk.</p>
    <h5>Solution Design Group:</h5>
    <p>This application and the Intellectual Property Rights (IPR) relating to it are wholly owned by:</p>
    <p>Network Rail Infrastructure Ltd<br>
    Registered Office:<br>
    Kings Place<br>
    90 York Way<br>
    London<br>
    N1 9AG</p>
    <p class="caption">It is intended for Network Rail business purposes only and shall not be shared with anyone outside of Network Rail without the express permission of the Director of Asset Information and Head of Security Information Management.</p>
    <p class="caption">&copy; Network Rail 2015</p>
</div>
