<div class="content-padded">
    <p>Knowledge can be demonstrated by any of the following courses: CDM awareness course, Project Safety Management Course, NEBOSH general certificate and/or NEBOSH construction certificate. The assessor is to consider the length of time since any of these courses was attended.  Evidence of structured continued professional development and/or update briefings etc. will maintain the currency of these courses.</p>
    <p><textarea rows=4></textarea></p>

    <p>I understand how health and safety legislation applies to a construction project, in particular the requirements of the Health and Safety at Work etc. Act 1974 and the Management of Health and Safety at Work Regulations 1999.
    The assessor is to consider questions that apply to the management and delivery of construction projects.</p>
    <p><textarea rows=4></textarea></p>

    <p>I understand how the Workplace (Health, Safety and Welfare) Regulations 1992 might apply to a project.
    The assessor is to consider questions that apply to both the design requirements of a project that will be used as a workplace and the application of these regulations to a construction site; specifically with regards to welfare.</p>
    <p><textarea rows=4></textarea></p>

    <p>I understand the general principles of risk assessment and management as described in the Management of Health and Safety at Work Regulations 1999.
    The assessor is to consider the systematic approach to the management of risk.  Risk identification, risk analysis, risk assessment and risk management – this is not necessarily about quantifying the risk it is about understanding it and managing it.</p>
    <p><textarea rows=4></textarea></p>

    <p>I understand the principles of prevention and can give examples that demonstrate this understanding.
    The assessor needs to be familiar with appendix 1 of the Regulations/guidance but in the most general terms this is about Eliminate, Reduce, Control and how Information is managed.</p>
    <p><textarea rows=4></textarea></p>

    <p>I understand the need for good pre-construction information and how any short-comings in available information can be addressed.
    The project manager is expected to have an understanding of the need for good pre-construction information and how it can influence the development of the project.  They should also have a working knowledge of where information may be found within the Company.</p>
    <p><textarea rows=4></textarea></p>

    <p>I understand the design review process and can give examples of where I have challenged a design because of concerns over construction, use, maintenance or decommissioning.
    The project manager is not expected to provide or guide solutions to safe by design, however, they are expected to be able to challenge what is presented and its safety throughout the project life cycle.</p>
    <p><textarea rows=4></textarea></p>

    <p>I understand the requirements for a construction phase plan and the importance of it in dealing with issues relating to site safety and safety during construction.
    The project manager is expected to know the sections of the CPP that relate directly to safety and be able to identify specific issues on a particular project.</p>
    <p><textarea rows=4></textarea></p>

    <p>I understand how to develop a programme of works, how to identify critical points on the delivery path and the mechanisms by which I can raise concerns.
    The project manager is expected to know a programme of works is constructed, identify issues that may be caused by access, resource availability, weather, other projects etc. and how to address these issues – including reprogramming of the works.</p>
    <p><textarea rows=4></textarea></p>

    <p>I understand the principles of the health and safety file and that in Network Rail this information is contained in a number of repositories.  I also understand the importance of agreeing with the asset owner exactly what information is required both during and at the conclusion of the project.
    The project manager is expected to know the importance of securing information in the correct format and a timely manner update the various repositories.</p>
    <p><textarea rows=4></textarea></p>

    <p>I understand my own limitations and know where I can obtain specific professional advice and assistance.
    The project manager is not expected to be a subject expert on all the areas of the project; however, they are expected to know where their expertise lies and where they can get advice.</p>
    <p><textarea rows=4></textarea></p>

    <p>I understand that I am discharging duties on behalf of Network Rail in the role of Client and Principal designer.
    The project manager needs to be aware when they cross a duty holder boundary; they also need to be aware when others unwittingly cross a boundary.</p>
    <p><textarea rows=4></textarea></p>
    
    <p>Skill Statements</p>

    <p>The person completing this assessment needs to consider each of the following statements and provide a response that expresses how they meeting the requirements.  Reference can be made to specific documents that demonstrate understanding.</p>

    <p>The assessor must not take the skill statements at face value.  Where evidence of skills is provided this can be accepted as evidence of understanding.  However, in all cases skills are to be tested by questioning and, where possible, actual observation in the workplace.</p>

    <p>I have liaised between the “Client” and “Designer” on issues during the design development process.
    The project manager can provide evidence of attending Client meetings where these matters were dealt with.</p>
    <p><textarea rows=4></textarea></p>

    <p>I have challenged the design processes when I have had concerns over the construction, use, maintenance or decommissioning.
    The project manager can provide evidence of attending design meetings where these matters were dealt with.</p>
    <p><textarea rows=4></textarea></p>

    <p>I have reviewed, and where appropriate challenged, designers’ risk assessments and/or assumptions being made.
    The project manager can provide evidence by presenting documents (including emails) where these have been challenged or minutes of meetings where discussions on this are recorded.</p>
    <p><textarea rows=4></textarea></p>

    <p>I collated pre-construction information for use by Contractors in the development of their programme of work.
    The project manager can provide evidence by presenting a completed PCIP that has been signed off by the Client.</p>
    <p><textarea rows=4></textarea></p>

    <p>I have assisted the Contractor in the development of their construction phase plan and been involved in its review through the life of a project.
    The project manager can provide evidence by presenting a completed CPP that has been signed off and by later reviews and/or meetings to discuss amending or altering the CPP.</p>
    <p><textarea rows=4></textarea></p>

    <p>I collated health and safety file information, following on from the pre-construction information, and updated the Contractor when there have been changes to the information in his possession.  
    The project manager can provide evidence by showing occasions when there have been changes that the contractor would not otherwise have been aware of.</p>
    <p><textarea rows=4></textarea></p>

    <p>I have assisted the Client in the development of project documentation; e.g. project requirements specifications, tender documentation and reviews, and by supporting the Authority process.
    The project manager can provide evidence of documents and/or minutes of meetings from these activities.</p>
    <p><textarea rows=4></textarea></p>

    <p>I have developed a project management plan that has been accepted by the Client
    The project manager can provide evidence but presenting a completed PMP.</p>
    <p><textarea rows=4></textarea></p>

    <p>I sought professional advice on matters outside my sphere of expertise.
    The project manager can provide evidence by presenting documents (including emails) where they have sought answers to specific areas; e.g. H&S, environment, engineering, possession planning.</p>
    <p><textarea rows=4></textarea></p>
    <button type="submit" class="btn">Save</button>
</div>









