<ul class="table-view navslider">
    <li class="table-view-cell">
        <a href="#contacts"> <span class="media-object pull-left icon icon-person"></span>
            <div class="media-body">
                Contacts Plugin
            </div>
        </a>
    </li>
    <li class="table-view-cell">
        <a href="#file"> <span class="media-object pull-left icon icon-pages"></span>
            <div class="media-body">
                File Plugin
            </div>
        </a>
    </li>
    <li class="table-view-cell">
        <a href="#">Item 2</a>
    </li>
    <li class="table-view-cell">
        <a href="#logout"> <span class="media-object pull-left icon icon-pages"></span>
            <div class="media-body">
                Logout
            </div>
        </a>
    </li>
    <li class="table-view-cell table-view-divider"></li>
</ul>
<div class="mdl-layout-spacer"></div>
<ul class="table-view">
    <li class="versionInfo table-view-cell">
        <small><%=appName%>: <%=version%></small>
    </li>
</ul>
